# --- CONFIGURACIÓN DEL SERVIDOR ---
VITE_API_URL="http://localhost:3000/api"
VITE_ASSETS_URL="http://localhost:3000"

# --- SERVICIOS EXTERNOS ---
# Obtén tu llave en: https://sentry.io/
VITE_SENTRY_DSN="your_sentry_dsn_here"

VITE_SENTRY_ENVIRONMENT="development" # development, production, test